%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    = I18n.t('menu.select_language')
    %span.caret
  %ul.dropdown-menu{:role => "menu"}
    %li
      = link_to I18n.t('menu.languages.english'), root_path(locale: :en, current_page: request.url)
    %li
      = link_to I18n.t('menu.languages.chinese'), root_path(locale: :zh, current_page: request.url)
    %li
      = link_to I18n.t('menu.languages.hebrew'), root_path(locale: :he, current_page: request.url)
