.form-group.table-responsive{id: "d-" + id.dasherize}
  - key = "sp_experiment.labels.#{section}.#{title_t}"
  - if I18n.exists?(key)
    %label.rt-label.control-label
      = t key
  %table.table.responses-table
    - translated_responses = t responses_t, scope: "sp_experiment.labels.#{section}.answers"
    %thead
      %tr
        %th
        - translated_responses.each do |response|
          %th{scope: 'col'}= response
    %tbody
      - labels_t.each do |label_t|
        - label = t "sp_experiment.labels.#{section}.questions.#{label_t}"
        %tr
          %td{scope: 'row'}= label
          - translated_responses.length.times do |i|
            %td
              = radio_button_tag label_t, i+1, false, class: 'form-check-input', required: true
