/ first line
.col-xs-12.col-md-4
  %p.title_1
    = I18n.t('contacts.title')
  %p.content_1 Urban Transport and Energy Team, Energy Institute, University College London
  %p.content_1
    UCL Energy Institute
    %br>/
    The Bartlett
    %br>/
    Central House
    %br>/
    14 Upper Woburn Place
    %br/
    WC1H 0NN
  %p.content_1
    %a{:href => "http://www.bartlett.ucl.ac.uk/energy/research/themes/transport/urban-long-distance-transport"}
      %u UTran Team
  %p.content_1 bartlett.maaslab@ucl.ac.uk
/ end .grid_3
.col-xs-12.col-md-8
  #contact_map
  /
    <p class="title_1"> Send us a message </p>
    <p class="content_1">We want to hear from you!</p>
    
    
    <form method="post">
    <textarea name="comments" cols="57" rows="12"></textarea><br>
    </form>
/ end of first line
.clear
.clear
.clear
%script{:charset => "utf-8", :type => "text/javascript"}
  :cdata
    var create = new google.maps.LatLng(51.526773, -0.129524);
    
    jQuery(document).ready(function(){
    var myOptions = {
    zoom: 14,
    center: create,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    streetViewControl: false,
    scaleControl: true,
    scaleControlOptions: {
    position: google.maps.ControlPosition.BOTTOM_LEFT
    }
    };
    
    map = new google.maps.Map(document.getElementById("contact_map"), myOptions);
    
    var marker = new google.maps.Marker({
    position: create,
    map: map,
    title:"SMART"
    });
    });
