.row{:style => "margin-top: 10px;"}
  .col-md-12
    %h3 STEP 2
    %table.table
      %tr
        %th Android
        %th iOS
      %tr
        %td 175
        %td 125
.stripes{:style => "margin-top: 10px;"}
:css
  table.stats td {
    padding: 5px;
  }

  .section_title {
    font-size: 20px;
  }
