:javascript
  var smart;
  if (smart === undefined) {
  	smart = {};
  }
  if (smart.instances === undefined){
  	smart.instances = {};
  }
  
  if (!window.console) window.console = {};
  if (!window.console.log) window.console.log = function () { };
= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"
= javascript_include_tag "vendor", "common"
= csrf_meta_tags
