!!!
/[if IE 7] <html class="ie7" lang="en">
/ [if !(IE 7)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    / <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    %meta#mvp{:content => "height=device-height, width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "HARMONY", :name => "application-name"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "University College London - Energy Institute", :name => "author"}/
    %link{:href => "/assets/umove/favicon.ico", :rel => "icon", :type => "image/gif"}/
    %title
      HARMONY
      - if not @selected_date.nil?
        \- Activity Diary on #{@selected_date}
    = stylesheet_link_tag "pre-common", :media => 'all'
    = stylesheet_link_tag "timeline", :media => 'all'
    = stylesheet_link_tag "common", :media => 'all'
    = stylesheet_link_tag "rails_bootstrap_forms", :media => 'all'
    = stylesheet_link_tag "introjs.min", :media => 'all'
    = csrf_meta_tags
    = stylesheet_link_tag "hint.min.css"
    = render :partial => "/layouts/header_frontend"
  %body
    #wrapper.container
      #header.row
        .col-md-3.col-sm-4.hidden-xs
        - if current_page?(root_path) or current_page?(new_wsp_users_path) or current_page?(pages_disclaimer_path)
          .col-md-3.col-sm-3{:style => "margin-top: 75px;"}
          .col-md-3.col-sm-3{:style => "margin-top: 75px;"}
        - else
          .col-md-3.col-sm-3{:style => "margin-top: 75px;"}
            %h4{:style => "padding:0px; margin:0px;"}
              - if controller_name != 'sp_experiments'
                %p.title_2{:style => "font-size:17px; padding:0px; margin:0px;"}
              - else
                %p.title_4{:style => "font-size:17px; padding:0px; margin:0px;"}
              1. Individual Survey
              - if @pq_progress.blank? or @pq_progress == 100
                %span= image_tag "maas/status_complete.png", size: "18x18"
              %br/
              = render "pre_questionnaire/progress", value: (@pq_progress || 100)
          .col-md-4.col-sm-3{:style => "margin-top: 75px;"}
            %h4{:style => "padding:0px; margin:0px;"}
              - if controller_name == 'sp_experiments'
                %p.title_2{:style => "font-size:17px; padding:0px; margin:0px;"}
              - else
                %p.title_4{:style => "font-size:17px; padding:0px; margin:0px;"}
              2. New Mobility Service Survey
              - if @sp_progress == 17
                %span= image_tag "maas/status_complete.png", size: "18x18"
              %br/
              .progress
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "#{sp_progress_to_percent(@sp_progress)}", :role => "progressbar", :style => "width: #{sp_progress_to_percent(@sp_progress)}%;"}
                  = sp_progress_to_percent(@sp_progress)
                  \%
          - if @label
            .col-md-2{:style => "margin-top: 125px;"}
              %span
                %b
                  Task #{@label}
        / end .grid_4 logo
        /
          <div class="grid_2 people_holder">
          <a href="<haml_silent></haml_silent>" class="image_link" ><img id="people" src="/assets/smart/feedback_fms.png" alt="feedback"/></a>
          </div>
        / end .grid_4 feedback
        .col-xs-4.col-sm-2.col-md-2.header_right
          .menus
            .menu_user
              .menu_user2
        / end .grid_4 feedback
        / fim do header
      #maincontent.row
        - flash[:class] ||= "content_feedback"
        .col-xs-12
          #flash_messages
            - if flash[:notice]
              %p{:class => "<haml_loud"}
                flash[:class] &gt;#{flash[:notice]}
            - yield :flash_messages
          .stripes
        / <div class="clear"></div>
        = yield :topselection
        = yield :secondselection
        .clear.hidden-xs
        / <div class="clear"></div>
        #bottom_selection.row
          = yield :bottomleft
          = yield :bottomright
        = yield
      / end .container_12
      / Footer
    / end of wrapper
    %footer#footer
      .container.smart_logo
        .row
    - if false
      #helpbutton
        %p  
        %a{:href => "#helpscreen"} Need Help?
    #sDialog.feedbackDialog.shadow{:style => "display:none"}
      .xClose X
      .container
        #onlineHelp.slot.ruler_r
        #scheduleSession.slot
          %h3 Schedule a session
          %p We encourage you to schedule a live session with us so we can give you a first introduction to our interface.
          .sessionStatus
    / TEMPLATES
    %script#template_supportScreen_online{:type => "text/html"}
      :cdata
        <h3>Need Help?</h3>
        <p class="helpcenter_status">
        \#{image_tag("smart/helpcenter_online.png", :alt =>"Helpcenter online", :title => "Online" )}
        Status: Online
        </p>
        <p>Anything we can help you with?</p>
        <p>Feel free to chat with us.</p>
        <p><a href="#" class="button_start_chat">Start Chat</a></p>
    %script#template_supportScreen_offline{:type => "text/html"}
      :cdata
        <h3>Need Help?</h3>
        <p class="helpcenter_status">
        \#{image_tag("smart/helpcenter_offline.png", :alt =>"Helpcenter offline", :title => "Offline" )}
        Status: Offline
        </p>
        <p>Unfortunately at this moment we do not have anyone available to assist you.</p>
        <p>Feel free to contact us by email at fmsurvey@smart.mit.edu.</p>
    %script#template_supportScreen_schedule{:type => "text/html"}
      :cdata
        <p class="scheduleInfo">You have a schedule session on <span class="date"></span> at <span class="time"></span>.</p>
        <p><a href="/pages/calendar" target="_blank" class="button_reschedule"> Reschedule </a></p>
    %script#template_supportScreen_noschedule{:type => "text/html"}
      :cdata
        <p><a href="/pages/calendar" target="_blank" class="button_schedule"> Schedule a Session </a></p>
    / SCRIPTS AFTER HERE
    = yield :scripts
